body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
  background-color: #122620;
  font-family: andale mono, monospace;
}

#calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 560px;
  padding: 20px;
  border-radius: 32px;
  border: 8px solid #b68d40;
  background-color: #f4ebd0;
  filter: drop-shadow(4px 2px 1px rgba(0, 0, 0, 0.5));
}

#screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 80px;
  padding: 10px;
  border-radius: 16px;
  border: 4px solid #b68d40;
  background-color: #122620;
  text-align: right;
}

#screen p {
  margin: 0px;
  color: #d6ad60;
}

#entry {
  font-size: 40px;
}

#history {
  font-size: 20px;
  opacity: 0.5;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

#buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 40px;
  border-radius: 8px;
  border: 2px solid #b68d40;
  background-color: #d6ad60;
  color: #122620;
  filter: drop-shadow(2px 1px 1px rgba(0, 0, 0, 0.5));
}

#buttons #ac-button {
  font-size: 35px;
}

#buttons #back-button {
  padding-bottom: 15px;
  font-size: 50px;
}

#buttons #sign-button {
  font-size: 45px;
}

#buttons #sub-button {
  font-size: 50px;
  padding-bottom: 5px;
}

#buttons #div-button,
#buttons #equal-button,
#buttons #plus-button {
  font-size: 50px;
}
